{% extends 'base.html' %}


{% load crispy_forms_tags %}
{% block edit%}
<p class="event-text">You are viewing events booked by <strong> {{user}} </strong>

    {% for Event in object_list %}

    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-12 masthead-text">
                    <div class="d-md-block d-sm-block d-xs-block col-md-12 masthead-image">
                        <div class="d-md-block col-md-12 align-left">

                            <!-- Post title -->
                            <a href="{% url 'event_detail' Event.slug  %}" class="post-link">
                                <h1 class="post-title-tumbnail card-title">{{ Event.title }}</h1>
                            </a>
                            <!-- The featured image URL goes in the src attribute -->

                            {% if "placeholder" in post.featured_image.url %}
                            <img class="thumbnail"
                                ssrc="https://media.istockphoto.com/photos/hispanic-female-craft-brewer-examining-beer-sample-picture-id1197894094"
                                alt="stock image" width="100%">
                            {% else %}
                            <img class="thumbnail" alt="featured image" src=" {{ Event.featured_image.url }}">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock edit %}