{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <div class="d-none d-md-block col-md-12 masthead-image">
                    <div class="d-md-block col-md-12 align-left">

                        <!-- Post title -->

                        <h1 class="post-title">{{ event.title }}</h1>

                        <!-- The featured image URL goes in the src attribute -->

                        {% if "placeholder" in post.featured_image.url %}
                        <img src="https://media.istockphoto.com/photos/hispanic-female-craft-brewer-examining-beer-sample-picture-id1197894094"
                            alt="stock image" width="100%">
                        {% else %}
                        <img class="card-img-top details-img" alt="featured image"
                            src=" {{ event.featured_image.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- If form is correct and valid dislays text too user -->

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">

                {{ event.description | safe }}

                {% if booking_form.is_valid %}
                <div class="alert alert-success" role="alert">
                    Your booking is awaiting approval, check your email for confirmation
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h2 class="booking-h2">Book this event</h2>

                <!--Form for booking an event -->

                <form method='post' style="margin-top: 1.3em;">
                    {% csrf_token %}
                    {{ booking_form | crispy }}
                    <button type='submit' value="submit" class='btn btn-signup btn-lg'>Book now</button>
                </form>
                {% else %}

                <div class="underline-detail"></div>

                <div class="not-validated-detail">
                    <h3>
                        Too Book this event please log in or register above
                    </h3>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}