{% extends "base.html" %}
{% block content %}


<!--Our beers section-->
<section id="our-vision">

  <div class="underline"></div>
  <p class="info">
    Micro brewery

    providing the north of stockholm with the best beer in the world
  </p>
  <p>
    Started in 2021 with the vision to provide the best beer possible, <br>
    with passion and craftsmanship.
  </p>


  <div class="underline"></div>

</section>

<!-- Carrosel and brewery info -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100"
        url="https://res.cloudinary.com/doogdbfd8/image/upload/v1641420681/sdbf3gvx6vbtnlnpcflb.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"
        url="https://res.cloudinary.com/doogdbfd8/image/upload/v1635715531/otifcgk9eetj4qlbscai.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" url="https://res.cloudinary.com/doogdbfd8/image/upload/v1634476183/wideshot_x36npz.jpg"
        alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"
        url="https://res.cloudinary.com/doogdbfd8/image/upload/v1635254960/yns8idw9ysv5l7qmjjrs.jpg" alt="Fourh slide">
    </div>
  </div>
</div>

<div class="underline"></div>

<div class='brewery-info'>
  <p>Beer is considered the most complex fermented beverage in the world. Its flavor, color, mouthfeel, and strenght can
    vary in more ways than any other craft drink.
    Beer uses a greater array of ingredients, which creates complexities beyond the reach of distilled spirits, wine,
    cider, mead and many others.
    The level of precision involved in its creation walks a much thigther line. All of this lead us to the reason why
    <b>WE LOVE BEER!</b> It is both an expression of artistry and
    a measure of scientific prowess and to master both is a triumph like none other.</p>

</div>

<div class="underline"></div>




{%endblock%}