{% extends "base.html" %}

{% block content %}

<body>

    <!--Our beers section-->
    <section id="our-vision">

        <div class="underline"></div>
        <p class="info">
            Micro brewery

            providing the north of stockholm with the best beer in the world
        </p>
        <p>
            Started in 2021 with the vision to provide the best beer possible, <br>
            with passion and craftsmanship.
        </p>



        <div class="underline"></div>


        <div class="diffrent-beers">
            <img src="#" alt="lager beer">

            <img src="#" alt="IPA beer">

            <img src="#" alt="Sour beer" id="sour-beer">
        </div>
    </section>
</body>

</html>

{%endblock%}