{% extends "base.html" %}
{% block content %}

<body>

    <!--Our beers section-->
    <section id="our-vision">

        <div class="underline"></div>
        <p class="info">
            Micro brewery

            providing the north of stockholm with the best beer in the world
        </p>
        <p>
            Started in 2021 with the vision to provide the best beer possible, <br>
            with passion and craftsmanship.
        </p>


        <div class="underline"></div>

    </section>

    <!-- Carrosel and brewery info -->

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="static/images/beer-header.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/images/2guysbeer.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/images/Brewery.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/images/copperstilt.jpg" alt="Fourh slide">
          </div>
        </div>
      </div>

      <div class="underline"></div>

      <div class='brewery-info'>
          <p>Beer is considered the most complex fermented beverage in the world. Its flavor, color, mouthfeel, and strenght can vary in more ways than any other craft drink.
              Beer uses a greater array of ingredients, which creates complexities beyond the reach of distilled spirits, wine, cider, mead and many others.
            The level of precision involved in its creation walks a much thigther line. All of this lead us to the reason why <b>WE LOVE BEER!</b> It is both an expression of artistry and
        a measure of scientific prowess and to master both is a triumph like none other.</p>

      </div>
      
      <div class="underline"></div>
</body>

</html>

{%endblock%}